:root {
  --color-blue: #032e7f;
  --color-light-blue: #21b6ff;
  --color-white: #daf5f7;
  --color-green: #67b96a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/texture-min.png);
}

a {
  color: var(--color-blue);
  text-decoration: none;
  transition: 0.2s;
}

a:hover,
a:active {
  color: var(--color-light-blue);
}

main article.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}

header,
footer {
  padding: 0 10%;
}

/*todo delete */
section,
header,
footer {
  border: 1px dashed darkgray;
  width: 100%;
}

@media (max-width: 1024px) {
  main article.article {
    padding: 2rem 5%;
  }

  section,
  header,
  footer {
    padding: 0 5%;
  }
}