:root {
  --color-blue: #032e7f;
  --color-light-blue: #21b6ff;
  --color-white: rgb(218, 245, 247);
  --color-green: #67b96a;

  --transition: all 200ms ease;

  --box-shadow-white: 0px 0px 5px 0px rgba(218, 245, 247, 0.36);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/texture-min.png);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  transition: 0.2s;
}

a:hover,
a:active {
  color: var(--color-light-blue);
}

main article.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}

.btn {
  background: var(--color-green);
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  font-weight: 600;
  padding: 0.75rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid var(--color-white);
  box-shadow: var(--box-shadow-white);
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0 4px 13px 0px var(--color-white);
  transform: translateY(-5px);
}

.btn:active {
  box-shadow: none;
  transform: none;
}

header,
footer {
  padding: 0 10%;
}

/*todo delete */
section,
header,
footer {
  border: 1px dashed darkgray;
  width: 100%;
}

@media (max-width: 1024px) {
  main article.article {
    padding: 2rem 5%;
  }

  header,
  footer {
    padding: 0 5%;
  }
}

@media (max-width: 840px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 1024px) {
  main article.article {
    padding: 0 5%;
  }}